.container {
    position: relative;
}




/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .text{
        font-size: 10px;
        color: white;
        position: absolute;
        margin-top: 50%;
        margin-left: 50%;
        transform: translate(-50%, -200%);
    }
}



/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 601px) {
    .text{
        font-size: 20px;
        color: white;
        position: absolute;
        margin-top: 50%;
        margin-left: 50%;
        transform: translate(-50%, -100%);
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .text{
        font-size: 20px;
        color: white;
        position: absolute;
        margin-top: 50%;
        margin-left: 50%;
        transform: translate(-100%, -300%);
    }
}


/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .text{
        font-size: 20px;
        color: white;
        position: absolute;
        margin-top: 50%;
        margin-left: 50%;
        transform: translate(-100%, -300%);
    }
}